<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coolcollege.aar">
    <!--  aar包的功能用到的权限 只需添加在aar的manifest配置中 app的manifest无需配置  -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许程序访问精确的位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".act.VideoRecordActivity"
            android:theme="@style/k_AppTheme"/>
        <activity
            android:name=".act.MediaSelectorActivity"
            android:theme="@style/k_AppTheme"/>
        <activity
            android:name=".act.QrCodeScanActivity"
            android:theme="@style/k_AppTheme"/>
<!--        <service-->
<!--            android:name="com.zlw.main.recorderlib.recorder.RecordService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>
</manifest>